body, html {
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
}
body {
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.card {
  background-color: rgba(211,211,211 , .7 ) !important;
}
.card-title {
  font-size: 6rem;
  color: #fefefe;
  padding: 15px;
}
.card-header {
  background-color: rgba(255, 255, 255, .3) !important;
  font-size: 3rem;
}
p {
  font-size: 3rem;
}